<h1>Lista de Devs</h1>

{{#each dev}}
    <p>Nome: {{dataValues.nome}}</p>
    <p>E-mail: {{dataValues.email}} </p>
    <p>Área de atuação: {{dataValues.area}} </p>
    <p>Tecnologias: {{dataValues.tecnologias}} </p>
    <p>Senioridade: {{dataValues.senioridade}} </p>
    <p>Experiência: {{dataValues.experiencia}} </p>

     <a href= "/deletar/{{dataValues.id}}"><button class="btn btn-danger">Deletar</button></a>
     <a href= "/editar/{{dataValues.id}}"><button class="btn btn-light">Editar</button></a> 
   
    <hr>
{{else}}
    <h5>Nenhum Dev foi cadastrado ainda</h5>
{{/each}}